//to compile: run "compass watch" on root of the project folder.

@import "compass/reset";

$blanquito: #FDFDFD;
$negrito:#212121;

html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  background: $blanquito;

    &:focus {
		outline: none;
		-webkit-outline: none;
	}

}

//header
.fffresco-logo {
  margin-left: 20px;
margin-top: 20px;
width: 121px;
height: 25px;

}
.img-wrapper-mobile {
  display: none;
}
// button.categoria {
//   display:none;
// }
.mdl-layout__header-row{
  background-color: transparent !important;

}

.mdl-layout__header {
  display: inline-block !important;
}
.mdl-layout__header .mdl-layout__drawer-button {
    margin-top: 10px;
}
.demo-avatar {
  width: 48px;
  height: 48px;
  border-radius: 24px;
}
.demo-layout .demo-header .mdl-textfield {
  padding-top: 27px;
}
.demo-layout .mdl-layout__header .mdl-layout__drawer-button {
  color: rgba(0, 0, 0, 0.54);
}
.mdl-layout__drawer .avatar {
  margin-bottom: 16px;
}
.demo-drawer {
  border: none;
}


/* iOS Safari specific workaround */
.demo-drawer .mdl-menu__container {
  z-index: -1;
}
.demo-drawer .demo-navigation {
  z-index: -2;
}
/* END iOS Safari specific workaround */
.demo-drawer .mdl-menu .mdl-menu__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.demo-drawer-header {
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 16px;
  //height: 151px;

}
.demo-avatar-dropdown {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.demo-navigation {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.demo-layout .demo-navigation .mdl-navigation__link {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
  font-weight: 500;
}
.demo-layout .demo-navigation .mdl-navigation__link:hover {
  background-color: transparent;
  color: #37474F;
}
.demo-navigation .mdl-navigation__link .material-icons {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.56);
  margin-right: 32px;
}

.demo-content {
  max-width: 1080px;
}


/* TODO: Find a proper solution to have the graphs
 * not float around outside their container in IE10/11.
 * Using a browserhacks.com solution for now.
 */
_:-ms-input-placeholder, :root .demo-graphs {
  min-height: 664px;
}
_:-ms-input-placeholder, :root .demo-graph {
  max-height: 300px;
}
/* TODO end */
.demo-graph:nth-child(1) {
  color: #00b9d8;
}
.demo-graph:nth-child(2) {
  color: #d9006e;
}
.feed-list {
  font-size: 0;
  padding-right:20px;
  li {
    display: inline-block;
    width: 100%;
  }
}
.demo-cards {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
}
.demo-cards .demo-separator {
  height: 32px;
}
.demo-cards .mdl-card__title.mdl-card__title {
  color: white;
  font-size: 24px;
  font-weight: 400;
}
.demo-cards ul {
  padding: 0;
}
.demo-cards h3 {
  font-size: 1em;
}
.demo-updates .mdl-card__title {
  min-height: 200px;
  background-image: url('images/dog.png');
  background-position: 90% 100%;
  background-repeat: no-repeat;
}
.demo-cards .mdl-card__actions a {
  color: #F5F5F5;
  text-decoration: none;
}

.demo-options h3 {
  margin: 0;
}
.demo-options .mdl-checkbox__box-outline {
  border-color: rgba(255, 255, 255, 0.89);
}
.demo-options ul {
  margin: 0;
  list-style-type: none;
}
.demo-options li {
  margin: 4px 0;
}
.demo-options .material-icons {
  color: rgba(255, 255, 255, 0.89);
}
.demo-options .mdl-card__actions {
  height: 64px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}



// modo noche


#view-source {
  position: fixed;
  display: block;
  right: 0;
  bottom: 0;
  margin-right: -5px !important;
  margin-bottom: 5px !important;
  z-index: 900;
}

/*Colores y sombras*/

.mdl-layout__drawer {
  box-shadow: none;
}

.mdl-layout__header{
  box-shadow: none ;
}

.mdl-color--grey-100 {
    background-color: $blanquito !important;
    margin-top: -8px;

    padding-right: 0px;


}







/*Cartas*/


#tri-d-wrapper {


    position: absolute;
    height: 100%;
    width: 100%;
}

#img-wrapper {
    //width: 30%;
    display: inline-block;
    background: #fff;
    margin: 0;
    position: relative;
    cursor: pointer;
    border-radius: 3px;
    overflow: hidden;
    -webkit-transform: scale(1);
    transform: scale(1);
    margin: 15px 13px;
    height:267px;
    border: 1px solid rgba(0, 0, 0, 0.22);

    -webkit-transition: transform  0.3s ease-out;
     -moz-transition:  transform 0.3s ease-out;
       -o-transition: transform 0.3s ease-out;
          transition:  transform 0.3s ease-out;

}

#img-wrapper:hover {

  -webkit-transform: scale(1.02,1.02);
  transform: scale(1.02,1.02);
  box-shadow: 0 2px 20px 5px rgba(0,0,0,0.06);
  -webkit-transition: transform  0.3s ease-out;
   -moz-transition: transform  0.3s ease-out;
     -o-transition: transform 0.3s ease-out;
        transition: transform  0.3s ease-out;

}

#img-wrapper img {
    width: 100%;
    margin: 0;
    height: 215px;
    position: relative;
    display: block;
    -webkit-transition: .3s all ease;
    transition: .3s all ease;
    visibility: hidden;
}

#img-wrapper:hover img {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
}

#img-wrapper:hover figcaption {
    background: rgba(0,0,0,.75);
}

#img-wrapper:hover figcaption h2 {
    opacity: 1;
    padding-left: 20px;
    -webkit-transition: .3s all ease .3s;
    transition: .3s all ease .3s;
}

#img-wrapper:hover figcaption .bottom-detail {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

#img-wrapper:hover figcaption .bottom-detail p {
    opacity: 1;
    top: 0;
    -webkit-transition: .3s all ease .5s;
    transition: .3s all ease .5s;
}



figcaption {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: .3s all ease;
    transition: .3s all ease;
}

figcaption h2 {
    margin-top: 20px;
    color: white;
    font-size: 18px;
    line-height: 22px;
    opacity: 0;
    padding-left: 0;
    padding-right: 20px;
    font-weight: 300;
}

figcaption .bottom-detail {
    position: absolute;
    width: 100%;
    bottom: 0;
    top: 105px;
    background: #f6f6f6;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition-property: transform !important;
    transition-property: transform !important;
    transition-duration: .70s !important;
    -webkit-transform-duration: .70s !important;
}

.bottom-detail p {
    font-size: 12px;
    opacity: 0;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    color: #999;
    font-weight: 300;
    line-height: 1.5;
}

.item-background {
  height: 200px;
  overflow: hidden;
  width: 100%;
  background-size: cover;
  background-position: top center;
  -webkit-border-radius: 2px 2px 0 0;
}
.titulo {

  padding: 5px 20px;
  border-top: 1px solid rgba(0,0,0, 0.22) !important;

  background-color: white;
height: 55px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.titulo p {
      font-size: 13px;
    line-height: 18px;
    color: #757575;
    margin-bottom:0px;
}


/* Header, contenido full width y responsive manual*/

.demo-drawer-header{
  //height: 65px;
  margin-top:6px;
}


.mdl-layout__drawer {
      width: 225px;
}

.demo-content {
    max-width: 100%;
    padding-left: 4px;
}


.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
    padding: 12px 40px;

}

/* Menu principa, colores:hover y transición */

#staffpick, #domestika, #brandemia, #criatura, #cuarentadefiebre, #behance, #dribbble, #fffffound, #graffica, #areavisual {
 transition: .7s all ease;

}

#staffpick:hover, #staffpick:focus {

    color: #39eb94 !important;
}
#domestika:hover, #domestika:focus {

    color: #F72700 !important;

}
#graffica:hover, #graffica:focus {

    color: #000000 ;

}
#areavisual:hover #areavisual:focus {

    color: #000000 ;

}
#brandemia:hover, #brandemia:focus {

    color: #e1c62f !important;
}
#criatura:hover, #criatura:focus {
  color:#9bd642 !important;
}

#cuarentadefiebre:hover, #cuarentadefiebre:focus {

    color: #F5E504 !important;
}
#behance:hover, #behance:focus  {

    color: #0077FF !important;
}
#dribbble:hover, #dribbble:focus {

    color: #EB4888 !important;
}
#fffffound:hover, #fffffound:focus {

    color: #FF009A !important;
}

.iconos-sitios {

  margin-right: 15px;
  width: 15px;
  margin-bottom: 2px;

}

.mdl-icon-toggle.is-checked .mdl-icon-toggle__label {
    color: #00FF4A;
    margin-right: 8px !important;
    font-size: 21px !important;
}
.mdl-icon-toggle .mdl-icon-toggle__label {

    margin-right: 8px;
    font-size: 21px;
}


.espacio-menu {

    margin-top: 22px;

}


.categoria  {

    border-radius: 8px;
    color: #6A6A6A;
    text-transform: none;
    margin-left: -20px;
    margin-right: 20px;
    font-size: 19px;
    font-weight: 300;
    padding: 0px 16px;
    margin-top: 10px;

  }

.categoria:hover {
    background-color: transparent;
}






.demo-drawer.mdl-layout__drawer  {
    background-color: #FDFDFD !important;
}


  // right aside bar
  .wrapper-button{
    margin-right: 22px;
  }
  #aside-btn {
    margin-right: 0px;
    padding-right: 0px;
    border-radius: 50%;
    height: 36px;
    min-width: 36px;
    padding:0px;
    color:rgba(0, 0, 0, 0.54);


  }
  #aside {
    position: fixed;
    height: 100vh;
    width: 275px;
    right: 0;
    top: 0;
    background: $blanquito;
    z-index: 9999;
    //display:none;
    transform:translateX(275px);
    //padding: 15px 30px;
    -webkit-transition-duration: 0.3s; /* Safari */
      transition-duration: 0.3s;
    -webkit-transition-property: transform;
      transition-property: transform;
    color:#757575;


      .bg-image {
        background-image:url('/images/modo-dia-fffresco.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height:104px;
        width:275px;
        display: block;
        position: absolute;
        right: 0;
        top:0;
        cursor: pointer;

        //display:none;
      }

      .modo-noche {
        width:100%;
        display: block;
        position: absolute;
        right: auto;
        height: 30px;
        left: auto;
        text-align: center;
        top: 115px;
        cursor: pointer;

        span, label:hover, span:hover {
          cursor:pointer;


        }

        a, a:hover, a:focus, a:visited, a:active {
          color:black;
          cursor:pointer;
        }

          img {
            height:15px;
            margin-right:10px;
          }
          img:hover {
            cursor:pointer;
            height:15px;
            margin-right:10px;
          }
        }

  }

  #aside.is-visible {
    //display: block;
    transform:translateX(0px);
    -webkit-box-shadow: -3px 0 55px rgba(0,0,0,0.3);

  }
  //aside content
  .mdl-ripple.is-animating {
    transition: transform .3s cubic-bezier(0,0,.2,1),width .3s cubic-bezier(0,0,.2,1),height .3s cubic-bezier(0,0,.2,1),opacity .6s cubic-bezier(0,0,.2,1);

  }

  .newsletter {
    height: 31vh;
      top: 39%;
      position: absolute;
      width: 275px;
    img{
      width: 275px;
      margin-bottom: 30px;
    }
    .btn-newsletter {
      text-align: center;
      button {
        border-radius: 4px;
        border: 2px solid #000;
        box-shadow: 0px 6px 18px 7px rgba(0, 0, 0, 0.08);
        background-color: #FFF25C !important;
        color: #000 !important;
        padding: 3px 19px;
        font-family: 'Roboto', 'Helvetica', sans-serif;

      }

      button:hover {
        cursor:pointer;
      }
      button:focus {
        outline: none;
        -webkit-outline: none;
      }

    }

  }
  .wrapper-bottom{
    position:absolute;
    bottom:0;
    width: 100%;
    left: 0;
    right: 0;
    text-align: center;
    padding-bottom: 10px;
    .text{
        font-family: courier;
        font-size: 12px;
        text-align: center;
        padding: 0px 20px;
      }
  }


  .mdl-button:focus:not(:active) {
    background-color: transparent !important;
  }
  .mdl-button:hover {
      background-color: rgba(158,158,158,.2);
      cursor: pointer;
  }
  .mdl-layout__header-row {
    margin-right: -13px;
    padding-right: 0px;
    margin-top:10px;
  }


// Newsletter MailChimp


  /*Estilo Noche*/

  body, .mdl-color--grey-100, #img-wrapper, figcaption .bottom-detail, .demo-layout .demo-navigation .mdl-navigation__link:hover,  .demo-header.mdl-layout__header, #img-wrapper img {

   transition-duration: 0.55s;
   -webkit-transition-property: background-color;
   transition-property: background-color;
   }

body.night-mode{

   background: $negrito !important;
    transition-duration: 0.55s;
   .mdl-color--grey-100 {
       background-color: $negrito !important;
       transition-duration: 0.55s;
   }

   .titulo{
     background-color: #000;
     transition-duration: 0.55s;
     border-top: 1px solid rgba(255,255,255,.22) !important;
   }

   .material-icons {
     color:white;
   }

   #img-wrapper {

     background: #111;
     border: 1px solid rgba(255, 255, 255, 0.22);
   }

  figcaption .bottom-detail{

    background: #111;
   }

.demo-layout .demo-navigation .mdl-navigation__link:hover  {
       background-color: transparent;
     color: #FFFFFF !important;
 }

 .mdl-navigation__link:focus {

    color: #FFFFFF !important;
 }

 .demo-header.mdl-layout__header {
   background: transparent;
   transition-duration: 0.55s;
 }

 #aside-btn {
   color: $blanquito;
 }
 .modo-noche {
   a, a:hover, a:focus, a:visited, a:active {
     color:#757575 !important;
   }
 }

#aside {
  background-color: $negrito;
  -webkit-transition: background;
  -webkit-transition-duration: 0.15s;
    transition: background;
    transition-duration: 0.15s;
  .bg-image {
   background-image:url('/images/modo-noche-fffresco.jpg') !important;
   transition-duration: 0.05s;
  }

  .btn-newsletter {
    button {
      box-shadow: 0px 6px 18px 7px rgba(255, 242, 92, 0.07);

    }
  }


}



   #img-wrapper {

       box-shadow: 0 2px 19px 5px rgba(0,0,0,.68);

   }
   #img-wrapper img{

       box-shadow: 0 2px 19px 5px rgba(0,0,0,.68);

   }

}


// ===============================================MEDIA QUERIES============================================================ ===========================================================================================================================//
@media screen and (max-width:784px){
  #img-wrapper {
      width: 45%;
      background: #000 !important

  }


}

@media screen and (max-width:653px){
  #img-wrapper {
      width: 100%;

  }
  .feed-list {
    padding-left: 0px !important;
    padding-right: 26px;
  }
}

@media screen and (min-width: 1025px){
  .demo-header.mdl-layout__header  {
  background-color: transparent !important;
   height:20px;
   min-height:20px;
   background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
   background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
   background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
  }
  .mdl-layout__header-row{
    display: inline-block;
    float:right;
  }

}

@media (max-width:1024px) {
  .img-wrapper-mobile {
    display: block;
  }
  .wrapper-button{
    margin-right: 0px;
  }
  .mdl-layout__header-row {

    padding: 0 16px 0 52px;
}
  .feed-list{
    padding-left: 35px;
  }
  .mdl-color--grey-100 {
  //  padding-right: 40px;
  }
  .fffresco-logo {
    margin:auto;
  }
.demo-drawer-header {
  img {
    display:none;
  }
  }
}
@media (min-width: 1699px) {

  .mdl-layout__container {
    position: relative;
    width: 1500px;
    height: 100%;
    margin: 0 auto;
  }

}
