<div ng-controller="mainController">

  <span class="" ng-controller="feedsCtrl" >
    <div class="feed-list" >



      <span  ng-repeat="feed in feeds | filter : myFilter ">

        <figure id="img-wrapper"  class="demo-cards mdl-cell mdl-cell--4-col  mdl-grid mdl-grid--no-spacing" ng-repeat="item in feed.entries " >

            <a href="{{item.link}}" target="_blank">

              <div  class="item-background" ng-style="{'background-image':'url({{item.sImage}})'}">
              <!-- <img src="{{item.sImage}}" alt="Preview Image"> -->
              </div>
              <div class="titulo">
                <p>{{item.title | limitTo:95}} </p>
                  <p class="tag-source " >{{item.source | uppercase}}</p>
              </div>

              <figcaption>
                <h2 class="title">{{item.title}}</h2>
                <div class="bottom-detail">
                  <p>{{item.contentSnippet}}</p>
                  <p class="tag-source" >Leer en {{item.source | uppercase}}</p>
                </div>
              </figcaption>
            </a>


        </figure>


      </span>
    </div>

    </div>
  </span>



</div>
