<div ng-controller="mainController">

  <span class="" ng-controller="feedsCtrl" >
    <div class="feed-list" >



   <span  ng-repeat="feed in feeds | filter : myFilter ">

      <!--     <figure ng-if="!$scope.mobile" id="img-wrapper" ng-show="isActive($index)" ng-swipe-left="showPrev()" ng-swipe-right="showNext()" class="demo-cards mdl-cell mdl-cell--4-col  mdl-grid mdl-grid--no-spacing" ng-repeat="item in feed.entries " >

            <a href="{{item.link}}" target="_blank">

              <div  class="item-background" ng-style="{'background-image':'url({{item.sImage}})'}">
              </div>


              <figcaption>

                <div class="bottom-detail">
                  <h2 class="title">{{item.title}}</h2>
                  <p>{{item.contentSnippet}}</p>
                  <p class="tag-source" >Leer en {{item.source | uppercase}}</p>
                </div>
              </figcaption>
            </a>


        </figure>-->

    <figure  id="img-wrapper"  class="demo-cards mdl-cell mdl-cell--4-col  mdl-grid mdl-grid--no-spacing" ng-repeat="item in feed.entries " >

            <a href="{{item.link}}" target="_blank">

              <div  class="item-background" ng-style="{'background-image':'url({{item.sImage}})'}">
              </div>
              <div class="titulo">
                <p>{{item.title | limitTo:100}} </p>
                  <p class="tag-source " >{{item.source | uppercase}}</p>
              </div>

              <figcaption>
                <h2 class="title">{{item.title}}</h2>
                <div class="bottom-detail">
                  <p>{{item.contentSnippet}}</p>
                  <p class="tag-source" >Leer en {{item.source | uppercase}}</p>
                </div>
              </figcaption>
            </a>


        </figure>



      </span>
    </div>

    </div>
  </span>



</div>
